#section1{
 /* @include breakpoint(lg){padding:25px 25px 0;}
  @include breakpoint(mlg){padding:50px 50px 0;}*/
}
#section1 .panel-content{


  .banner {
    position:relative;
      @include breakpoint(xs) {
            padding: 0 30px;
            display: block;
            min-height: 30vh; 
            display: flex;
            justify-content: center;
            vertical-align: middle;
            align-items: center;
      }
       @include breakpoint(lg) {
          padding-top: 0;
          min-height: 64vh; 
       }
      @include breakpoint(md) {
          display: flex;
          justify-content:center;
          vertical-align: middle;
          align-items:center;
          padding-top: 45px;
          min-height: 42vh;
      }
        @include breakpoint(sm) {
            min-height: 35vh;
              display: flex;
            justify-content: center;
            vertical-align: middle;
            align-items: center;
        }
      .responsive-icon{
        max-width: 130px;

        @include breakpoint(md) { padding: 20px 0; }
      }
    
    .title{
      font-family: 'Nunito';
     
      font-weight: bold;
      @include breakpoint(mlg) { font-size: 80px;line-height: 85px; max-width: 75%; }
      @include breakpoint(lg) {  font-size: 70px;line-height: 75px; max-width: 65%;}
      @include breakpoint(sm) {  font-size: 60px;line-height: 65px; max-width: 65%;}
      @include breakpoint(xs) {  font-size: 35px;line-height: 40px; max-width: 90%;}
      color: #fff;
      max-width: 75%;
    }
     
   
      &:after {
        content: '';
        background:url('../images/after-shadow.png');
      }

  }
 
  .banner-content {

    @include breakpoint(xxlg) {padding: 0 0 0 6%;}
    @include breakpoint(xlg)  {padding: 0 0 0 6%;}
    @include breakpoint(mlg)  {padding: 0 6%;}
    @include breakpoint(lg)   {padding-left: 4%; padding-right: 0;}
    @include breakpoint(md)   {padding: 0 30px;}
    @include breakpoint(sm)   {padding: 0 50px;}
   
    .button{
       @include breakpoint(md) {
            display: block;
        }
        @include breakpoint(sm) {
            display: none;
        }
         @include breakpoint(xs) {
            display: none;
        }
    }
    .banner-title{

       font-family: 'therealmagazine1'; 
       color: #fff;
      
        @include breakpoint(xxlg){ font-size: 120px; line-height: 117px;}
        @include breakpoint(xlg){ font-size: 100px; line-height: 110px;}
        @include breakpoint(mlg){ font-size: 80px; line-height: 80px; margin-bottom: 35px;}
        @include breakpoint(lg){ font-size: 60px; line-height: 60px; margin-bottom: 25px;}
        @include breakpoint(md){ font-size: 60px; line-height: 60px;}
        @include breakpoint(sm){ font-size: 50px; line-height: 50px;}
        @include breakpoint(xs){ font-size: 50px; line-height: 50px;}

        margin-bottom: 35px;

    }
    .small-text {

       @include breakpoint(xlg) {  font-size: 24px; line-height: 30px;}
       @include breakpoint(mlg) {  font-size: 20px; line-height: 26px;margin-bottom: 40px;}
       @include breakpoint(lg) {  font-size: 17px; line-height: 22px;margin-bottom: 25px;}
       @include breakpoint(md) {  font-size: 16px; line-height: 20px; }
       @include breakpoint(sm) {  font-size: 16px; line-height: 20px; margin-bottom: 25px;}
       @include breakpoint(xs) {  font-size: 15px; line-height: 20px; }

       ul { padding: 0; }
       ul li {

       @include breakpoint(xlg) {  font-size: 21px; line-height: 26px;}
       @include breakpoint(mlg) {  font-size: 20px; line-height: 26px;margin-bottom: 40px;}
       @include breakpoint(lg) {  font-size: 17px; line-height: 22px;margin-bottom: 25px;}
       @include breakpoint(md) {  font-size: 16px; line-height: 20px; }
       @include breakpoint(sm) {  font-size: 16px; line-height: 20px; margin-bottom: 25px;}
       @include breakpoint(xs) {  font-size: 15px; line-height: 20px; }

        text-transform: uppercase;
         @include breakpoint(sm){ 
          display: inline-block; padding-right:20px;
         
         }
        @include breakpoint(xs){ 
             text-transform: uppercase;
        }

       }
        font-family: 'Raleway-Medium';
        color:#fff;
      
         @include breakpoint(xs){margin-bottom: 20px; }

      ul li img {
      //    width: 32px;
         
             @include breakpoint(mlg) { width: 32px; margin-right: 5px;}
              @include breakpoint(lg) { width: 20px; margin-right: 5px;}
              @include breakpoint(sm) { width: 20px; margin-right: 5px;}
              @include breakpoint(xs) { width: 25px; }
         
         
        }
      }
    
    }
}

.video-content {
   @include breakpoint(xs){ padding: 0; }
  .button{
    display: none;
     @include breakpoint(xs) {display: block; text-align: center;margin: 40px 0 30px;}
     @include breakpoint(sm) {display: block; text-align: center;margin: 25px 0 10px;}
     @include breakpoint(md) { display: none; }
  }

  .contact-header {
    display: none;
     @include breakpoint(xs) {display: block; text-align: center;  }
     @include breakpoint(sm) {display: block; text-align: center;  }
      @include breakpoint(md) { display: none; }
  }
}
.slideInFromRight{
  animation: 2s ease-out 0s 1 slideInFromRight;
}

.slideInFromLeft{
  animation: 2s ease-out 0s 1 slideInFromLeft;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
.springy-text {
  color: darkslateblue;
  animation-name: springy-text;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 6;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}
@keyframes springy-text {
  0%   {
    letter-spacing:1.2em;
    color: thistle;
  }
  100%   {
    letter-spacing:0.1em;
    color: darkslateblue;
  }
}


.mobile-wrapper {
    position: absolute;
    top: 61%;
    z-index: 9999;
  //  background: #000; 
    //border: 7px solid #fff;
   // border-radius:30px;
   

  @include breakpoint(xlg){  width: 55%; height: auto;left: 25%; top: 40%; }
  @include breakpoint(mlg){  width: 60%; height: auto;left: 22%; }
   @include breakpoint(lg) {  display: block; width: 50%; top: 45%;left: 27%;height: 37%; }
  @include breakpoint(md) {  display: block; width: 40%; top: 45%;left: 48%;height: 37%; }

  @include breakpoint(sm) { left: 27%; width: 50%; height: 28%; top: 56%; }
  @include breakpoint(xs) { display: none; }

    iframe{
      border-radius:25px 25px 25px 26px;
    }
}
 
div.laptop-wrapper {

    position: relative; 
   /* padding-top: 25px;
    padding-bottom: 67.5%;
    @include breakpoint(mlg) {padding-bottom: 60.5%; }
    @include breakpoint(lg) {padding-bottom: 56.5%; }
    @include breakpoint(md) {padding-bottom: 54.5%; }
    height: 0;
     @include breakpoint(xs) {
        padding-top:0;
        padding-bottom:48.5%;
     }*/
} 
 
div.laptop-wrapper iframe {
        width: 100%;
        height: 100%;
        position: absolute;

        body {
           background: #fff;
        }
        @include breakpoint(xlg) { 
              padding: 3% 7.5% 14.9% 15.6%; 
        }
        @include breakpoint(lg) {

        box-sizing: border-box;
        background: url("../images/video_letty.png") center right no-repeat;
        background-size: cover;
        padding:8.2% 1.3% 19.2% 15.1%;
        
        top: 58px;
        left: 16px;
        
        z-index: 999;

      }
        @include breakpoint(mlg) {

        box-sizing: border-box;
        background: url("../images/video_letty.png") center right no-repeat;
        background-size: cover;
        padding:8.2% 1.3% 17.2% 12.1%;
        
        top: 78px;
        left: 16px;
        
        z-index: 999;

      }
        @include breakpoint(lg) {
          top: 78px;
        left: 16px;
        }
     @include breakpoint(md) {

       box-sizing: border-box;
        background: url("../images/video_letty.png") center right no-repeat;
        background-size: cover;
        padding:3.2% 1.3% 14.2% 15.5%;
        top: 30px;
        left: 16px;
      
        z-index: 999;

      }


     @include breakpoint(sm) {
        background: url("../images/mobile-image.png") center right no-repeat; 
        background-size: contain;
        background-position: center;
        padding: 15.2% 11.3% 16.2% 11.1%;
        top: 0;
        left: 0;
     }
      @include breakpoint(xs) 
      { 
        background: url("../images/mobile-image.png") center right no-repeat; 
        background-size: contain;
        background-position: center;
        padding: 4.2% 11.1% 5.2% 11.1%;
        top: 0;
        left: 0;
      }

   
}

