
#section2 .panel-content {
	min-height: 300px;
	@include breakpoint(xxs) { 
		min-height: 500px;
	}
	@include breakpoint(sm) { 
		min-height: 500px;
	}
	@include breakpoint(md) { 
		min-height: 400px;
	}
}
.bottom-text{
		 @include breakpoint(lg){display: flex;} 
	    margin-top: -25px;


	.left-box{
		color: #5700A6;
		font-size: 34px; line-height: 35px;
		font-family: 'Nunito';
		background:#fff;
		border-radius: 15px;
		padding: 35px;
		margin-right: 15px;
		@include breakpoint(mlg) { 
			font-size:34px; line-height: 35px;
			margin-right: 15px;
			
		}
		@include breakpoint(lg) { 
			font-size:24px; line-height: 27px;
			margin-right: 15px;
			margin-bottom: 0; 
		}
		@include breakpoint(md) { 
			font-size:20px; line-height: 24px;
			margin-right: 15px;
			margin-bottom: 25px;
		}
		@include breakpoint(sm) { 
			margin-bottom: 15px;
			font-size: 25px;
    		line-height: 28px;
		}
		@include breakpoint(xs) { 
			font-size: 24px; line-height: 24px;
			margin-right: 0;
			margin-bottom: 15px;

		}
		@include breakpoint(xxs) { 
			font-size: 21px; line-height: 24px;
			margin-right: 0;
			margin-bottom: 15px;

		}
	}

	.right-box {
		background:#fff;
		border-radius: 15px;
		padding: 25px;
		@include breakpoint(xs) { 
			 
			margin-bottom: 15px;

		}

	}

	span{
		font-family: 'Nunito';
		color: #5700A6;
		font-size: 18px;
	}
	.box{

		@include breakpoint(xs) { 

			margin: auto;
			text-align: center;
		}
		//@include breakpoint(md){display: flex;} 
		img {
			max-width: 200px;
			@include breakpoint(xs) { 
			 
			 	max-width: 200px;

			}
		}
		div {
			padding:10px 0;
		}
	}	
}