.clients {
	  @include breakpoint(mlg){

	    display: flow-root;
	}
	 @include breakpoint(lg){

	    padding-bottom: 300px;    
	    display: flow-root;
	}

	@include breakpoint(xlg){padding: 0 6% 400px 6%;}
       	@include breakpoint(mlg){padding: 0 6% 300px 6%;}
     	 @include breakpoint(md){padding: 0 4% 35px 4%;}
      //	@include breakpoint(sm){padding: 35px 0 35px 50px;}


		// @include breakpoint(xs){padding: 0 30px; }
	 	 @include breakpoint(xlg){padding: 0 6% 400px;}

	 ul.partner-links{

		 	 display: flex;
		 	 justify-content: center;
		 	 vertical-align: middle;
		 	 align-items:center; 
		 	 flex-wrap: wrap;
		 	 padding: 0; 
		 	 padding-bottom: 20px;


	 	.slick-track {

	 	 	display: flex;
		    justify-content: center;
		    vertical-align: middle;
		    align-items: center;
		 }
	 	li{
	 	  	
    		text-align: center;
    		@include breakpoint(mlg){ margin-bottom: 30px; }
    		@include breakpoint(lg){ margin-bottom: 18px;width: 16%; }
    		@include breakpoint(sm){width: 20%;margin-bottom: 15px; }
    		@include breakpoint(xs){ margin: 15px; }
		   // padding: 30px 84px;
	 	}
	 	img {
	 		//width: 120px;
	 		@include breakpoint(mlg){ max-height: 150px; width: 150px;}
	 		@include breakpoint(lg){ max-height: 100px;width: 100px;}
	 		@include breakpoint(sm){ width: 90px; max-height: 85px; }
	 		@include breakpoint(xs){ width: 80px;max-height: 80px;}

	 	}
	 }
	 ul.partner-links.row2 {
	 	li{
	 	  	//width: 20%;
    		text-align: center;
    		margin: 30px 0;
		   // padding: 30px 84px;
	 	}
	 }
	.title {

		font-family: 'THEREALMAGAZINE1'; 
		color: #833289;
		font-size: 76px; line-height: 60px;
		text-align: center;
		padding-bottom:75px;

		  @include breakpoint(xs){
		  	    font-size: 40px;
    			line-height: 38px;
    			padding:0 30px 10px;
		  }
		   @include breakpoint(xxxs){
		  	    font-size: 43px;
    			line-height: 38px;
    			padding:0 ;
		  }
		   @include breakpoint(sm){
		  	    font-size: 50px;
    			line-height: 50px;
    			padding: 0 5% 25px;
		  }
		   @include breakpoint(md){
		  	    font-size: 55px;
    			line-height: 55px;
    			padding: 0 5% 20px; 
		  }
		   @include breakpoint(xlg){
		   	padding: 20px 5% 30px;
		   }
		  @include breakpoint(mlg){
		  	  font-size: 76px; 
		  	  line-height: 60px;
    			 
		  }
	}
 
  .testimonial {
  	 @include breakpoint(lg){ padding-top:30px; }
  	  @include breakpoint(sm){ padding-top:25px; }

  	.title-test{
  		font-family: 'Raleway-ExtraBold';
  		 @include breakpoint(xlg){
  		 	font-size: 33px; line-height:33px;
  		 }
  		 @include breakpoint(mlg){
  		 	font-size: 28px;
  		 }
  		  @include breakpoint(md){
  		 	font-size: 22px; text-align: left;
  		 }
  		  @include breakpoint(sm){
  		 	font-size: 24px;line-height:29px;
  		 	text-align: center; 
  		 }
  		 @include breakpoint(xs){
  		 	font-size: 22px;line-height:27px;
  		 	text-align: center; 
  		 }
  	}
  	.club-logo{
  		display: flex;
  		vertical-align: middle;
  		align-items:center;
  		@include breakpoint(md){
	  		 justify-content:left;
	  	}

  		 @include breakpoint(xs){
	  		 justify-content: center;
	  		 flex-direction: column;
    		text-align: center;
	  	}
	  	@include breakpoint(sm){
	  		 justify-content: center;
	  		 
	  	}

  		img {
  			max-width: 80%;
  		}
  		.logo-content {
		   	@include breakpoint(lg){ padding-left: 20px; }
		    @include breakpoint(mlg){ padding-left: 25px; }

		}
  		.logo-content{

  			b{
  				font-family: 'Raleway-Bold';
  			}


  			p{ margin: 0; 

  				
  				@include breakpoint(mlg){
	  			    font-size: 20px;
	    			line-height: 24px;
	    		}
	    		@include breakpoint(lg){
	  			    font-size: 16px;
	    			line-height: 20px;
	    		}

}
  		}
  	}
  	.title-desc {
  		padding:30px 0;
  		@include breakpoint(xlg){
  		 	font-size: 21px; line-height: 27px;max-width: 590px;
  		 }
  		 @include breakpoint(mlg){
  		 	font-size: 20px; line-height: 26px;max-width: 520px;padding: 30px 0;
  		 }
  		  @include breakpoint(lg){
  		 	font-size: 15px; line-height: 21px;max-width: 400px;  margin: unset; padding: 20px 0; text-align: left;
  		 }
  		  @include breakpoint(sm){
  		 	max-width: 80%;
  		 	margin:auto;
  		 	text-align: center;
  		 }
  		  @include breakpoint(xs){
  		 	font-size: 15px;
  		 	text-align: center;
  		 }
  	}
  }
 
	 
}
 
	.client-back {  
		div { padding: 0;

			 @include breakpoint(lg){max-width: 500px;}
			 @include breakpoint(mlg){max-width: 600px;}
			 @include breakpoint(xlg){max-width: 650px;}
			 @include breakpoint(xxlg){max-width: 750px;}
	}
	 	position: absolute;
	    bottom: -2px;
	    left: 0;
		background:url('../images/client-bottom.svg') center top no-repeat;
		background-size: cover;
		width: 100%; 
		opacity: 0;
		display: flex;
	    align-items: flex-end;
	    color: #90278E;
	    font-family: 'Raleway-Black';
		 @include breakpoint(xxlg){
		 	height: 687px;
		 	font-size: 41px;
		    line-height: 44px;
		     
		    padding: 0px 5% 80px;
		 }
		 @include breakpoint(xlg){
				 height: 600px;
			    font-size: 37px;
			    line-height: 43px;
			    padding: 0px 4.5% 50px;
		}
		  @include breakpoint(mlg){
		 	    height: 500px;
			    font-size: 29px;
			    line-height: 30px;
			    padding: 0px 4% 45px;
		 }
		   @include breakpoint(lg){
		 	height: 410px;
		 	font-size: 23px;
    		line-height: 26px;
		    padding-bottom: 52px;
		    padding-left: 4%;
		    display: flex;
		 }
		  @include breakpoint(md){
	
		    display: none;
		 }
		  @include breakpoint(sm){
		  	display: none;
		  }
		   @include breakpoint(xs){
			display: none;
		   }

 }

 .client-logos-outer {
 	  @include breakpoint(xs){
			background:#eee; padding:15px 10px;
		}
 }
 .client-back.animated{ opacity: 1; }
.client-logo-inner{
		  
		  @include breakpoint(xs){padding: 0;}
}

