#section5 {
   // @include breakpoint(mlg){padding:50px;}
   // @include breakpoint(lg){padding:25px;}
}
.contact {
    @include breakpoint(md){ display: flex; flex-direction: column;  }
     @include breakpoint(mlg){ min-height: 65vh; }
    @include breakpoint(lg){ min-height: 50vh; flex-direction:initial;}
    @include breakpoint(sm){ display: flex; flex-direction: column;}
    @include breakpoint(xs){ display: flex; flex-direction: column;}
    &:after {
            content: '';
            background:url('../images/contact-before.png') no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -59px;
            left: -38px;
            height: 500px;
            width: 60%;
            z-index: 9;
             @include breakpoint(xlg){  bottom: -58px; left: -25px; height: 500px;}
             @include breakpoint(mlg){  bottom: -58px; left: -25px; height: 400px;}
            @include breakpoint(lg){  bottom: -33px; left: -21px;display: block;    height: 283px; } 
            @include breakpoint(sm){ display: none; }
             @include breakpoint(xs){ display: none; }
        }


   
    .title{
         font-family: 'THEREALMAGAZINE1';
         color: #fff;

         @include breakpoint(xlg){  font-size: 76px; line-height: 60px;}
         @include breakpoint(mlg){  font-size: 60px; line-height: 50px;}
         @include breakpoint(md){   font-size: 60px; line-height: 50px;}
          @include breakpoint(sm){  font-size: 50px; line-height: 50px;}
         @include breakpoint(xs){   font-size: 40px; line-height: 38px;}
    }

    .banner-content-contact {

         @include breakpoint(xlg){padding: 0 6% 0;}
  
         @include breakpoint(mlg){padding-left: 4%;}
         @include breakpoint(lg){padding-left: 4%;}
         @include breakpoint(sm){padding: 0 50px;}
         @include breakpoint(xs){padding: 0 30px;}

          @include breakpoint(md){ left: -150px !important;  }
        //opacity: 0;
    }
    .banner-content-contact.animated{
       // opacity: 1;
         @include breakpoint(sm){left: 0 !important; }
    } 

    .contact-form{
         @include breakpoint(sm){ right: -150px !important;  }
       // opacity: 0;  
        //
       @include breakpoint(xs){  padding: 0 40px;}
         @include breakpoint(lg){
            vertical-align: middle;
            align-items: center;
            display: grid;
            //z-index: 999999;
        }
    }

    .contact-form.animated{
        //opacity: 1;
         @include breakpoint(sm){right: 0 !important; }
    }
      .sub-text {

       @include breakpoint(xlg){   font-size: 24px; line-height: 30px;}
       @include breakpoint(mlg){   font-size: 20px; line-height: 26px;}

        font-family: 'Raleway-Medium';
        color:#fff;
        margin-top: 40px;
         @include breakpoint(md){margin-top: 40px;font-size: 17px;line-height: 22px;}
         @include breakpoint(sm){margin: 20px 0;font-size: 16px;line-height: 20px; }
         @include breakpoint(xs){margin: 20px 0;}

        img {
          width: 32px;
        }
      }


}

.typeform-widget {

     @include breakpoint(xs){ height: 200px !important; }
     @include breakpoint(sm){ height: 300px !important; }
     @include breakpoint(md){ height: 550px !important; }
     @include breakpoint(lg){ height: 500px !important; }
     @include breakpoint(mlg){ height: 675px !important; }
}
.imoSDn{
    display: none !important;
}
#section5 > .panel-content {
  
         
}


.gform_wrapper .percentbar_blue {
    background:none !important;
    height: 5px !important;
    text-shadow: none !important;
    background-color: #eb278b !important;
    color: #FFF;
}
.gform_wrapper .gf_progressbar_percentage span { font-size: 0 !important; }
.gform_wrapper .gf_progressbar_wrapper{
    margin: 16px 0 0 !important;
    padding: 16px 0 0 !important;

      @include breakpoint(mlg) {
         width: calc(100% - 75%) !important; margin: auto !important;
     }
      @include breakpoint(xlg) {
         width: calc(100% - 75%) !important; margin: auto !important;
     }
     @include breakpoint(md) {
         width: calc(100% - 60%) !important; margin: auto !important;
     }
     @include breakpoint(sm) {
         width: calc(100% - 35%) !important; margin: auto !important;
     }
}
.gf_progressbar_title { color: #fff !important; font-family: 'Raleway-bold'; text-align: right;opacity: 1 !important; }
.gform_wrapper .gform_page_footer { border: none !important; }    
.gform_wrapper .gf_progressbar {

    padding:0 !important;
    background-color: #fff !important;
    box-shadow: none;
    width: 100% !important;

   
     &:after{
        height: 5px !important;
        margin-top: -5px !important;
     }
}

.gform_confirmation_wrapper {
    color: #fff;
    font-family: Raleway-Medium !important;
    font-size: 21px;
@include breakpoint(lg) {
    font-size: 21px;
    padding: 0 30px;
}
@include breakpoint(sm) {
    font-size: 17px;
    padding: 0 30px;
}
 @include breakpoint(xs) {
    font-size: 17px;
    padding: 0 30px;
}
img{
     @include breakpoint(xs) {max-width: 200px;}
}

    span {
        font-family: 'therealmagazine1';
            @include breakpoint(md) { font-size: 65px; }
            @include breakpoint(sm) { font-size: 55px; }
            @include breakpoint(xs) { font-size: 55px; }
    }
}
.main-enquiry {

    .validation_error, .validation_message, .gfield_required {
            color: #eda2a2 !important;
            border: none !important;
    }
     li.gfield.gfield_error {
        background-color:transparent !important; 
        border: none !important;
    }
    .gfield_description{ 
        color: #fff;
        font-size: 16px !important; 
         @include breakpoint(xs) {  font-size: 15px !important; }
    }
    .gform_wrapper .clear-multi{
        display: flex;
        justify-content: center; 
    }
    input[type="text"] {
        background: transparent !important;
        border: none !important;
        border-bottom: 1px solid #fff !important;
        color: #fff;text-align: center;
        font-family: Raleway-Regular !important;
        font-size: 20px !important;

        &:after{
            content: '';
            background:url('../images/text-arrow.png');
            position:absolute; right: 0;
        }
    }
        .gfield_label {
            font-family: 'Raleway-bold';
            text-align: center;
            color:#fff;

           @include breakpoint(xs) { font-size: 22px !important; line-height: 50px !important; } 
           @include breakpoint(sm) { font-size: 25px !important; line-height: 60px !important; }
           @include breakpoint(mlg){ font-size: 35px !important; line-height: 76px !important; }
           @include breakpoint(lg) { font-size: 28px !important; line-height: 65px !important; }
}

 
    li.gfield{
        text-align: center;
    }
   label {
        color:#fff !important;
        font-family: Raleway-Regular !important;

            @include breakpoint(lg){  font-size: 20px !important; line-height: 45px !important; }
   }
    .gform_page_footer { 
        text-align: center;

        input[type="button"], input[type="submit"] {

             background:#EB008B; border:3px solid #EB008B;
         
            border-radius: 8px;
            font-family: Raleway-bold !important;
            color: #fff;  
            align-self: flex-end;
            padding:14px 43px;
            font-size: 24px;
            line-height: 26px;
            text-transform: uppercase;
            webkit-transition: all .4s;
            -moz-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
            &:focus{
                outline: none;
            } 
            &:hover {
                 border:3px solid #936CB1;
                 background:#936CB1;
            }
             @include breakpoint(mlg) {
                padding: 10px 37px;
                font-size: 20px;
                line-height: 25px;
             }
             @include breakpoint(lg) {
                padding:12px 40px;
                font-size: 20px;
                line-height: 22px;
             }
            @include breakpoint(md) {
                padding:12px 35px;
                font-size: 20px;
                line-height: 22px;
             }
              @include breakpoint(sm) {
                padding:10px 25px;
                font-size: 18px;
                line-height: 20px;
             }
            @include breakpoint(xs) {
                padding:10px 35px;
                font-size: 20px;
                line-height: 22px;
                width: 150px !important;
             }
        }
    }
}
