
.footer {

	background:#716c80;
	position: relative;

	@include breakpoint(xs){ 
		padding:20px 0;
	}
	@include breakpoint(mlg){ 
		padding: 40px 0;
	}
 
	@include breakpoint(md){ 
		text-align: left;
		padding: 30px 0;
	}
	@include breakpoint(xs-sm){ 
	// text-align:center;
	}
	.footer-news{
		@include breakpoint(xs){
			order: 2;
		}
	}
	.footer-social{
		@include breakpoint(xs){
			order: 3;
		}
	}
	 
 
	.footer-logo{
		text-align: center;
		@include breakpoint(xs){
			order: 1;
		}
		img {
			@include breakpoint(mlg) { width: 630px; height: auto; }
			@include breakpoint(lg) { width: 550px; height: auto; }
			@include breakpoint(md) { width: 400px; height: auto; }
			@include breakpoint(sm) { width: 450px; height: auto; }
		}
	}
	p {
		color: #fff;
		text-align:right;
		font-family: 'Nunito', Regular;
	}
	a {
		color: #fff;
		font-weight: bold;
	}
	.contact-info {

	 @include breakpoint(mlg){padding: 30px 0 10px;}
     @include breakpoint(md){padding: 20px 0 10px;}
     @include breakpoint(sm){padding: 20px 0 10px;}
     @include breakpoint(xs){padding: 15px 0 10px;}

    b{
        font-family: 'Raleway-black';

        @include breakpoint(md) {
        	font-size: 20px;
    		line-height: 20px;
    	}
    	 @include breakpoint(mlg){font-size: 26px; line-height: 30px;}

         @include breakpoint(sm){font-size: 28px; line-height: 30px;}
         @include breakpoint(xs){font-size: 20px; line-height: 22px;}
    }
    p{
        font-family: 'Raleway-Medium';
         @include breakpoint(mlg){font-size: 26px; line-height: 30px;}
         @include breakpoint(lg){font-size: 20px; line-height: 20px;}
        @include breakpoint(md){font-size: 20px; line-height: 21px;}
        @include breakpoint(sm){font-size: 28px; line-height: 30px;}
        @include breakpoint(xs){font-size: 20px; line-height: 22px;}
    }
}

.gform_wrapper{
		@include breakpoint(xs){margin: 0; } 
	}


.subscribe{

	.gform_confirmation_message{
		font-size: 17px;
		line-height: 19px;
	}
	.gform_body{
		 @include breakpoint(md){
		 	width: 60%;
		 	float: left;
		 	clear: none;
		 }
	}
	 .gform_footer {
	 	 @include breakpoint(md){
		 	width: 40%;
		 	float: left;
		 	clear: none;
		 }
	 }
	.validation_error, .validation_message{
		color: #eda2a2 !important;
		font-size: 14px !important;
		border:0 !important;
		padding: 0 !important;
    	margin: 0 !important;
    	text-align: left;
	}
	li.gfield.gfield_error{
		background-color:transparent !important;
		border:0 !important;
		font-family: 'Raleway-Medium';
		margin: 0 !important;
	}
	input[type="text"]{ 
		border: 0 !important;
	    border-bottom: 1px solid #808285 !important;
	    background: transparent;    
	    width: 100% !important;
	    color: #808285 !important;
	    font-family: 'Raleway-Medium';
	}
	input[type="submit"]{ 
		border-radius:5px;
		border:2px solid #EB008B; color: #EB008B;
		text-transform: uppercase;
		background:transparent;
		padding: 5px 15px;
		&:hover {
			background:#EB008B;
			color:#fff;
		}
		&:focus{
			outline: none;
		}
	}
}
.social {
	
		text-align: center; padding: 0;

	li { 
		list-style: none;
		display: inline-block;
		padding: 15px 6px;

		 @include breakpoint(xs){ padding: 5px 6px; }
	}
	img{
		max-height: 30px; height: 100%;
		width: 35px;
	}
}
	.scrolltotop {
		position:absolute;
		top: 35%; right: 50px;
		text-align: center;
		font-family: 'Raleway-Medium';
		cursor: pointer;

		 @include breakpoint(xs){display: none;}
		 @include breakpoint(sm){display: none;}
		 @include breakpoint(md){display: block;}

		img {
			width: 25px; height: auto;
		}
	}
}


