.top-header {
 
    @include breakpoint(md)
  { 
	  	//position:absolute;
	  
	  	display: flex;
      	justify-content: space-between;
        vertical-align: middle;
	    align-items: center;
	    text-align: center;
	    min-height: 100px;

  }
  @include breakpoint(lg)
  { 
       //	 position:absolute;
     
     	 z-index: 99;
     	 display: flex;
      	justify-content: space-between;
        vertical-align: middle;
	    align-items: center;
	    text-align: center;
	     
    	 
     }    
       @include breakpoint(mlg){
       	  
       }
}
 
 
.top-logo {
	 
	img {
		//width: 250px;
		@include breakpoint(lg){ 
		  width: 175px;
		}
		@include breakpoint(md){ 
			 width: 175px;
		}
	}
	//margin-top: 11px;
	@include breakpoint(md){ 
		 
	}
	@include breakpoint(xs){ 
	 

	} 
}

 
#header {
	position:absolute;
	top:0;
}
 
.top-header.cbp-af-header-shrink  {
	   position:fixed;
	   top: 0;
	   background:rgba(50, 20, 76, 0.85);
	   z-index: 9999;
	  
	    @include breakpoint(xlg){ height: 130px;  }
	    @include breakpoint(mlg){ height: 100px;  }
	    @include breakpoint(lg){ height: 90px;  }
	     @include breakpoint(md){ height: 100px;  }

    // -webkit-animation-name: fadeInUp;
	//  animation-name: fadeInUp;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  z-index: 99999;
}
 
//Fade up animation

.fadeInUp {
	  -webkit-animation-name: fadeInUp;
	  animation-name: fadeInUp;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
 }
  @-webkit-keyframes fadeInUp {
  0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
  }
  100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
  	}
  }
  @keyframes fadeInUp {
  0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 100%, 0);
	  transform: translate3d(0, 100%, 0);
  }
  100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
  	}
  } 