 
  .mediaViewInfo {
    --web-view-name: 01-Landing;
    --web-view-id: ID01_Landing;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
  }
  :root {
    --web-view-ids: ID01_Landing;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }
  #ID01_Landing {
    position: absolute;
    width: 1920px;
    height: 1311px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: 01-Landing;
    --web-view-id: ID01_Landing;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
  }
  #Mask_Group_2 {
    position: absolute;
    width: 1920px;
    height: 750px;
    left: 0px;
    top: 110px;
    overflow: visible;
  }
  #Call_to_action {
    position: absolute;
    width: 1920px;
    height: 292px;
    left: 0px;
    top: 860px;
    overflow: visible;
  }
  #Bg {
    position: absolute;
    width: 1920px;
    height: 292px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Bg_n {
    opacity: 0.1;
  }
  .Bg_n {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 292px;
    left: 0px;
    top: 0px;
  }
  #Bg_m {
    position: absolute;
    width: 1920px;
    height: 292px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Services {
    position: absolute;
    width: 1125px;
    height: 189px;
    left: 406px;
    top: 830px;
    overflow: visible;
  }
  #ID1 {
    position: absolute;
    width: 554px;
    height: 189px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .Bg_q {
    position: absolute;
    overflow: visible;
    width: 554px;
    height: 189px;
    left: 0px;
    top: 0px;
  }
  #ID1_r {
    position: absolute;
    width: 554px;
    height: 189px;
    left: 571px;
    top: 0px;
    overflow: visible;
  }
  .Bg_s {
    position: absolute;
    overflow: visible;
    width: 554px;
    height: 189px;
    left: 0px;
    top: 0px;
  }
  #Hero {
    position: absolute;
    width: 774px;
    height: 325px;
    left: 390px;
    top: 313px;
    overflow: visible;
  }
  #Txt {
    position: absolute;
    width: 774px;
    height: 325px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Realize_your_full_po {
    filter: drop-shadow(5px 3px 20px rgba(0, 0, 0, 0.467));
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 775px;
    height: 325px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(255,255,255,1);
    letter-spacing: -0.1px;
  }
  #Scroll_down {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -390px;
    top: -313px;
    overflow: visible;
  }
  #Dropdowns {
    position: absolute;
    width: 235px;
    height: 205px;
    left: 790px;
    top: 144px;
    display: none;
    overflow: visible;
  }
  .Bg_y {
    filter: drop-shadow(0px 0px 20px rgba(225, 228, 237, 1));
    position: absolute;
    overflow: visible;
    width: 295px;
    height: 265px;
    left: 0px;
    top: 0px;
  }
  #Our_team {
    position: absolute;
    left: 30px;
    top: 35px;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(91,87,102,1);
  }
  #Team_member {
    position: absolute;
    left: 30px;
    top: 66px;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(85,77,137,1);
  }
  #Pricing {
    position: absolute;
    left: 30px;
    top: 97px;
    overflow: visible;
    width: 54px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(91,87,102,1);
  }
  #Testimonials {
    position: absolute;
    left: 30px;
    top: 128px;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(91,87,102,1);
  }
  #ID404_page {
    position: absolute;
    left: 30px;
    top: 159px;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    line-height: 21px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(91,87,102,1);
  }
  #hamburger {
    position: absolute;
    width: 29.55px;
    height: 26.35px;
    left: 1500px;
    top: 38.25px;
    overflow: visible;
  }
  .Path_1 {
    overflow: visible;
    position: absolute;
    width: 29.55px;
    height: 26.35px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
  }
  .Rectangle_3 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 101px;
    left: 0px;
    top: 1152px;
  }
  #Group_6 {
    position: absolute;
    width: 318.542px;
    height: 42px;
    left: 1211px;
    top: 1182px;
    overflow: visible;
  }
  #__Elipso_2019__Landi {
    position: absolute;
    left: 0px;
    top: 20px;
    overflow: visible;
    width: 164px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(213,213,213,1);
  }
  .Rectangle {
    position: absolute;
    overflow: visible;
    width: 99px;
    height: 4px;
    left: 0px;
    top: 0px;
  }
  #Group_5 {
    position: absolute;
    width: 138.542px;
    height: 22px;
    left: 180px;
    top: 20px;
    overflow: visible;
  }
  #__Elipso_2019__Landi_bb {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 86px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -5.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(213,213,213,1);
  }
  .Path_3 {
    overflow: visible;
    position: absolute;
    width: 50.541px;
    height: 14.93px;
    left: 88px;
    top: 1.762px;
    transform: matrix(1,0,0,1,0,0);
  }
  #templogo_abbreviated {
    position: absolute;
    width: 212px;
    height: 87px;
    left: 390px;
    top: 11px;
    overflow: visible;
  }
  #We_have_recently_re_branded__a {
    position: absolute;
    left: 443px;
    top: 860px;
    overflow: visible;
    width: 490px;
    height: 134px;
    line-height: 36px;
    margin-top: -1px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: rgba(87,0,166,1);
  }
  #Group_8 {
    position: absolute;
    width: 241px;
    height: 126px;
    left: 1006px;
    top: 856px;
    overflow: visible;
  }
  #Group_3 {
    position: absolute;
    width: 167px;
    height: 66px;
    left: 74px;
    top: 1px;
    overflow: visible;
  }
  #Call {
    position: absolute;
    width: 167px;
    height: 66px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Text {
    position: absolute;
    width: 167px;
    height: 66px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Have_questions_ {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 168px;
    white-space: nowrap;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(87,0,166,1);
  }
  #_44_141_552_3000 {
    position: absolute;
    left: 0px;
    top: 42px;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    line-height: 33px;
    margin-top: -7.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(113,108,128,1);
  }
  #websiteQRCode_noFrame {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Button_Normal_White_Default {
    position: absolute;
    width: 225px;
    height: 50px;
    left: 7px;
    top: 76px;
    overflow: visible;
  }
  .Bg_bn {
    position: absolute;
    overflow: visible;
    width: 225px;
    height: 50px;
    left: 0px;
    top: 0px;
  }
  #Button {
    position: absolute;
    left: 30px;
    top: 13px;
    overflow: hidden;
    width: 166px;
    height: 23px;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.3125px;
  }
  #Group_7 {
    position: absolute;
    width: 233px;
    height: 126px;
    left: 1269px;
    top: 856px;
    overflow: visible;
  }
  #Group_4 {
    position: absolute;
    width: 161px;
    height: 66px;
    left: 72px;
    top: 1px;
    overflow: visible;
  }
  #Call_br {
    position: absolute;
    width: 161px;
    height: 66px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Text_bs {
    position: absolute;
    width: 161px;
    height: 66px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Have_questions__bt {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(87,0,166,1);
  }
  #_44_141_552_3000_bu {
    position: absolute;
    left: 0px;
    top: 42px;
    overflow: visible;
    width: 151px;
    white-space: nowrap;
    line-height: 33px;
    margin-top: -7.5px;
    text-align: left;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(113,108,128,1);
  }
  #websiteQRCode_noFrame_bv {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  #Button_Normal_White_Default_bw {
    position: absolute;
    width: 225px;
    height: 50px;
    left: 6px;
    top: 76px;
    overflow: visible;
  }
  .Bg_bx {
    position: absolute;
    overflow: visible;
    width: 225px;
    height: 50px;
    left: 0px;
    top: 0px;
  }
  #Button_by {
    position: absolute;
    left: 30px;
    top: 13px;
    overflow: hidden;
    width: 166px;
    height: 23px;
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.3125px;
  }
 