/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/
#slider-panel {
  .panel-content {
    padding:0;
      &:after {
        content: '';
        background: url('../images/purple-overlay.png');
        background-size: cover;
        position:absolute;
        width: 100%; height: 100%;
        top: 0;z-index: 0;
      }
  }
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 99;
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  img {
     @include breakpoint(lg){height: 180px;}
     @include breakpoint(sm){height: 78px;}
      @include breakpoint(xs){height: 80px;}
  }
  

}
 


