

.send-to-friend-wrapper {
	background:#ffffff;
	padding: 0px 15px;

}



html, body {
    margin: 0;
}

body, input, h1, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#829e39;
	font-weight:bold;
}


h1 {
	font-size: 20px;
	margin-top:0;
	color:#28471c;
	font-weight:bold;
	border-bottom:1px solid #829e39;
}
h2 {
	font-size: 15px;
	margin-top:15px;
	color:#28471c;
	font-weight:bold;
	border-bottom:1px solid #829e39;
}

hr {
	background-color: #ffffff;
	border: none;
	height: 2px;
	margin-bottom: 20px;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
}
#gform_fields_8 .gfield:nth-child(n+1):nth-child(-n+15){
	width: 50%;
	vertical-align: top;
	
	
	
}

#gform_fields_8 .gfield:nth-child(n+1):nth-child(-n+15) .gfield_label{
	text-align:right;
	
}
textarea {
	height: 60px;
	resize: none;
}

.ginput_container{
	width: 60%;
	float:left;
	
	
}


#gform_fields_8 .gfield:nth-child(n+17):nth-child(-n+31) ul li{
	width: 33%;
	text-align:center;
	vertical-align:top;
}
#gform_fields_8 .gfield:nth-child(n+18):nth-child(-n+29) ul li{
	padding-bottom:5px;
}

#gform_fields_8 .gfield:nth-child(n+18):nth-child(-n+31) ul li label{
	display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
	border:1px solid #000000;
    vertical-align:middle;
	font-size:0;
	text-indent:-9999;
 
    cursor:pointer;
}
#gform_fields_8 .gfield:nth-child(n+18):nth-child(-n+29){
	padding-bottom:0px;
}
.boxheading ul li input{
	display:none;
}
.boxheading ul li{
	border-left: 1px solid #ffffff;
	padding:5px 0px;
}
.boxheading{
	background:#829e39;
	padding:5px 0px;
	color:#ffffff;
	font-weight:bold;
	margin-bottom:20px;
}
.boxheading label:first-child{
	margin: 0 2% 0 0;
    padding-left: 1%;
}
input[type="checkbox"] {
    display:none;
}
#field_8_30 label{
	display:none;
}

#field_8_30 .ginput_container{
	width: 100%;
}
#field_8_33 label{
	width: 100%;
	
}
#field_8_33 #extensions_message{
	display:none;
}
#field_8_33 .ginput_container{
	width: 50%;
}



#field_8_47 label{
	display:none;
}
#field_8_47 #extensions_message{
	display:none;
}
#field_8_47 .ginput_container{
	width: 50%;
}
#field_8_48 label{
	display:none;
}
#field_8_48 #extensions_message{
	display:none;
}
#field_8_48 .ginput_container{
	width: 50%;
}
#field_8_49 label{
	display:none;
}
#field_8_49 .ginput_container{
	width: 50%;
}
#field_8_49{
	position:relative;
	padding-bottom:14px;
}
#field_8_49 .gfield_description{
	position:absolute;
	left:0;
	bottom:0;
}

input[type="checkbox"]:checked + label{
	
    background:url("./images/tick.png") 0px top no-repeat;

}
.boxheading input[type="checkbox"]:checked + label{
	 background:none;
}


input, textarea {
	width: 100%;
	-webkit-display: none;
	border: 1px solid #474747;
	padding: 3px;
	font-size: 14px;
	color: #000000;
}


input[type="submit"] {
    margin-top: 10px;
    width: 20%;
    text-transform: uppercase;
    background-color: #829e39;
    color: white;
    float: none;
    border: none;
	max-width:150px;
	padding:10px;
    -webkit-appearance: none;
	
}

input[type="checkbox"] {
    margin-top: 0px;
	margin-left:0;
    width: 20px;
    text-transform: uppercase;
    
    color: #000000;
    float: none;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="hidden"] {
	display: none;
}

input, textarea {
	width: 100%;
	float: left;
}
.gfield_checkbox{
	margin-top:0px;
}

.gfield_label {
	line-height: 20px;
    vertical-align: middle;
    width: 37%;
	margin-right:3%;
    float: left;
}

#field_8_18 .gfield_label:after {
    content: "";
}


.gfield_label:after {
    content: ":";
}

.gform_footer {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	display: block;
}

.validation_error {
    /*display: none;*/
	font-size: 14px;
    padding: 5px 0 10px 0;
/*    color: red;*/
/*    float: right;*/
}

.validation_message {
	font-size: 14px;
    padding: 5px 0 10px 0;
    color: red;
    float: right;
    
}

.gfield_required, .gform_hidden {
	 color: red;
}


.gform_confirmation_message {
	padding: 10px 0;
	margin-top:20px;
}

@media only screen and (max-width: 600px) {
	#gform_fields_8 .gfield:nth-child(n+1):nth-child(-n+15){
		width: 100%;	
	}
	.ginput_container{
		width: 70%;
		float:left;
		
		
	}
	.gfield_label {
		font-size: 11px;
		line-height: 14px;
		vertical-align: middle;
		width: 28%;
		margin-right:2%;
		float: left;
	}
	#gform_fields_8 .gfield:nth-child(n+17):nth-child(-n+31) ul li{
		width: 31%;
		 
	}
	.boxheading{
		font-size: 11px;
	}
	.boxheading ul li{
		
		padding:5px 0px;
	}
	.boxheading label:first-child{
		width: 25%;
	}
	h1 {
		font-size: 15px;
		
	}
	h2 {
		font-size: 11px;
		
	}
	#field_8_33 .ginput_container{
		width: 100%;
	}
	#field_8_47 .ginput_container{
		width: 100%;
	}
	#field_8_48 .ginput_container{
		width: 100%;
	}
	#field_8_49 .ginput_container{
		width: 100%;
	}
	input[type="submit"] {
		max-width:100%;
		width: 100%;
	}

}



@media only screen and (max-width: 290px) {
	input[type="submit"] {
		width: 100%;
	}
	
	.ginput_container{
		width: 100%;
	}

    .gfield_label {
        width: 100%;
        float: none;
    }

    input, textarea {
        width: 100%;
        display: block;
        float: none;
    }

	.validation_message {
		float: left;
	}
	input[type="checkbox"]{
		margin-left:0;
		display:inline-block;
	}
	#field_4_11 .gfield_description{
		display:none;
	}
}

#field_4_11{
	
	
	position:relative;
}
#field_4_11 .gfield_description{
	font-size: 11px;
    left: 23%;
    position: absolute;
    top: 5px;
	
	
}