

.hrt-form-wrapper {
	background-color: #ffffff;;

	border-radius: 0px;
	color:#000000;
	width:100%;
	max-width:800px;
	margin:0 auto;

}


html, body {
    margin: 0;

}

body, input, h1, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
}
.header{
	width:100%;

}
.header img{width:100%;}

.content-container{
	padding:0 50px;
}
@font-face {
    font-family: 'gibsonbolditalic';
    src: url('fonts/gibson-bolditalic-webfont.eot');
    src: url('fonts/gibson-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gibson-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/gibson-bolditalic-webfont.woff') format('woff'),
         url('fonts/gibson-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/gibson-bolditalic-webfont.svg#gibsonbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gform_confirmation_message{
	font-family: 'gibsonbolditalic';
	 font-size:40px;
	 color:#ee1c25;
	 text-transform:uppercase;
	 line-height:40px;
	 margin-bottom:50px;
}
.validation_error{
	font-size:16px;
	color:#ee1c25;
}

h1 {
	font-family: 'gibsonbolditalic';
	 font-size:57px;
	 color:#ee1c25;
	 text-transform:uppercase;
	 line-height:50px;

}
h1 span{
	color:#000000;

}
h2{
	 font-family: 'gibsonbolditalic';
	 font-size:18px;
	 color:#ee1c25;
	 text-transform:uppercase;
	 margin-bottom:0px;

}
#field_11_29, .payment_details_top {
	width:98% !important;
	margin-top:15px;
    margin-bottom: 0;
}
#field_11_29 .gsection_description, .payment_details_top .gsection_description {
	margin-left:20px;
}

#field_11_29 h2, .payment_details_top h2{
	 background: #000000 none repeat scroll 0 0;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 10px;
	margin-top:0;

}

.payment_details_method, .payment_details_dd {
    margin: 0;
}

hr {
	background-color: #474747;
	border: none;
	height: 2px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
    margin-right: 2%;
    /*padding-bottom: 15px;*/
    margin-bottom: 15px;
    width: 48%;
}
li.showlabel{
	width: 100%;
}
li.gsection{
	 width: 100%;
	 padding-bottom: 5px;
}
li#field_11_9, li#field_11_13, li#field_11_15,li#field_11_25, li#field_11_28, li#field_11_19, li#field_11_20, li#field_11_21, li#field_14_9, li#field_14_28, li#field_13_9, li#field_13_13, li#field_16_9, li#field_16_28 {
	display:inline-block;
	width: 98%;
}
li#field_11_19, li#field_11_20, li#field_11_21{
	width:calc(98% - 30px);
}
li#field_11_30, li#field_11_31, .payment_details_method, .payment_details_dd{
	width:calc(98% - 40px);
}

#field_11_19, #field_11_20, #field_11_21 {
    padding-bottom: 15px;
    margin-bottom: 0;
}

textarea {
	height: 100px;
	resize: none;
}


input, textarea {
	width: 100%;
	-webkit-display: none;
	border: 1px solid #d3d3d3;
	padding: 10px;
	font-size: 14px;
	background:none;
}

input[type="submit"] {
    margin-top: 20px;
	margin-bottom: 80px;
	border-radius:20px;
    width: 100%;
	max-width:150px;
	font-size:12px;
    color: #000000;
	float:right;
	height:34px;
    border: 1px solid #000000;
    -webkit-appearance: none;
	line-height:30px;
	display:block;
	line-height:13px;
	position:relative;

}

.gsection_description{
	margin-top:10px;
	margin-bottom:10px;
}
.gform_footer{
	position:relative;
}
.gform_footer:after{
	content:">";
	color:#000000;
	position:absolute;
	right:12px;
	top:28px;
}

input[type="submit"]:hover{
	background:#ee1c25;
	border: 1px solid #ee1c25;

}

.showlabel input {
	width:100%;

}
input[type="submit"]:hover {
    cursor: pointer;
}

input[type="hidden"] {
	display: none;
}

input, textarea {
	width: 100%;
	float: left;
}

.gfield_label {
	display:none;

}
.showlabel .gfield_label {
	width:30%;
	display: inline-block;
    float: left;
    line-height: 1.2;
	margin-right:10px;

}
li#field_15_43{
	width:100%
}
li.gchoice_15_43_1{
	width:95%

}
.showlabel.long .gfield_label {
	width:100%;

}
.showlabel .ginput_container {
	display:inline-block;
	width:50%;

}
#field_15_34.showlabel .ginput_container {
	width:100%;
}
#field_11_15 .gfield_label{
	display:block;
	float:left;
}
#field_11_15 input{

	width: 30%;
	float:right;

}
#field_11_17 .gfield_label, #field_11_18 .gfield_label, #field_11_19 .gfield_label, #field_11_20 .gfield_label, #field_11_21 .gfield_label, #field_11_30 .gfield_label, #field_11_31 .gfield_label, .payment_details_method .gfield_label, .payment_details_dd .gfield_label {
	display:block;
	float:left;
}
#field_11_30 .gfield_label, #field_11_31 .gfield_label, .payment_details_method .gfield_label, .payment_details_dd .gfield_label {
    font-family: 'gibsonbolditalic';
    font-size:18px;
    color:#ee1c25;
    text-transform:uppercase;
    margin-bottom:0px;
    width: 100%;
    margin-bottom: 10px;
}


#field_11_29, #field_11_30, #field_11_31, .payment_details_border{
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;

}
#field_11_30, #field_11_31, .payment_details_method, .payment_details_dd {
	padding:0 20px;
}
#field_11_31, .payment_details_method, .payment_details_dd{
	padding-bottom:15px;
	border-bottom:1px solid #d3d3d3;
}

#field_11_30 li, .payment_details_method li {
	width:25%;
	margin-left:15px;
}
#field_11_31 li, .payment_details_dd li{
	width:70%;
	margin-left:18px;
}
#field_11_30 input, .payment_details_method input{

	display:none;
}
#field_11_31 input, .payment_details_dd input{

	display:none;
}
#field_11_19{
	padding-top:20px;
}
.showlabel li{
	width:100%;
}
#field_11_19, #field_11_20{
	color:#000000;
	font-weight:bold;
	background:#e5e5e5;
	padding-left:20px;
	padding-right:20px;
}
#field_11_21{
	background:#e5e5e5;
	color:#ee1c25;
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
}
/*.gfield ul#input_11_30 li, .payment_details_method ul li {

    vertical-align:middle;
	position:relative;
    cursor:pointer;
}

.gfield ul#input_11_30 li label, .payment_details_method ul li label{
	width:150px;
}
.gfield ul#input_11_30 li label:after, .payment_details_method ul li label:after {
	content:"";
	display:inline-block;
    width:19px;
    height:19px;
	left:71px;
    margin:-1px 4px 0 10px;
	position:absolute;
	border:1px solid #d3d3d3;
}*/
.radio input{
	display:none;
}
.radio ul li label{
	position:relative;
	cursor:pointer;
	min-width:30px;
	display:inline-block;
	padding-left: 34px;
}
.radio ul li label:after {
	content:"";
	display:inline-block;
    width:19px;
    height:19px;
	top:0;
	left: 0;
    margin:-1px 4px 0 0;
	position:absolute;
	border:1px solid #d3d3d3;
}

.radio ul li label:before {
	content:"";
    width:19px;
    height:19px;
	left:0;
    margin:-1px 4px 0 0;
	position:absolute;
	background:url("./images/tick_red.png") right top no-repeat;
	display:none;
}

.radio input:checked + label:before {
	display:block;
}

.radio .gfield_label {
    margin-bottom: 15px;
}

/*.radio input[type="radio"]:checked + label{
	padding-right:30px;
    background:url("./images/tick_red.png") right top no-repeat;

}
.radio input[type="checkbox"]:checked + label{
	padding-right:0px;
    background:url("./images/tick_red.png") right top no-repeat;
	background-position: 35px 0;

}
input[type="radio"]:checked + label{
	padding-right:50px;
    background:url("./images/tick_red.png") 83px top no-repeat;

}*/

/*.radio input[type="radio"]:checked + label:after{
	right:-5px;
}*/
/*.gfield ul#input_11_31 li label, .payment_details_dd ul li label{
	padding-left:30px;
	position:relative;
	display: block;
}
.gfield ul#input_11_31 li label:before, .payment_details_dd ul li label:before{
	content:"";
	display:block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 10px;
	position:absolute;
	border:1px solid #d3d3d3;
	left:-11px;
}*/
/*input[type="checkbox"]:checked + label{

    background:url("./images/tick_red.png") 0px top no-repeat;

}*/
/*.boxheading input[type="radio"]:checked + label{
	 background:none;
}
*/

#field_11_17 {
	width:60%;
}
#field_11_17 .gfield_label{
	float:left;
	margin-top:10px;
}
#field_11_17 input{
	width: 30%;
	float:right;
}

#field_11_18 {
	width:36%;
	position:relative;
}
#field_11_18 .gfield_label{
	float:left;
	margin-top:10px;
}
#field_11_18 input{
	float: right;
    margin: 0 53px 0 0;
    width: 66%;
}
#field_11_18 .gfield_description{
	position:absolute;
	right:0;
	top:10px;
}



#field_11_15 input,  #field_11_19 input, #field_11_20 input, #field_11_21 input{


}
#field_11_19 .ginput_container, #field_11_20 .ginput_container, #field_11_21 .ginput_container{
	width: 25%;
	float:right;
	position:relative;
	margin: 0 53px 0 0;
}
#field_11_19 .ginput_container:before, #field_11_20 .ginput_container:before, #field_11_21 .ginput_container:before{
	content:"$";
	position:absolute;
	left:-22px;
	top:7px;
}
#field_11_19 .ginput_container:after, #field_11_20 .ginput_container:after, #field_11_21 .ginput_container:after{
	position:absolute;
	right:-52px;
	content:"AU";
	top:7px;
}
.gfield_label:after {
    content: ":";
}

.gform_footer {
	width: 100%;
	margin: 0 auto;
	text-align: right;
	display: block;
}

.validation_error {
    /*display: none;*/
	font-size: 14px;
    padding: 5px 0 10px 0;
/*    color: red;*/
/*    float: right;*/
}

.validation_message {
	font-size: 14px;
    padding: 5px 0 10px 0;
    color: red;
    float: right;
    display: none;
}

.gfield_required, .gform_hidden {
	display: none;
}


.gform_confirmation_message {
	padding: 10px 0;
}
.contact-details{
	width:100%;
	margin-top:100px;
	display:block;
	font-size:13px;
}
.contact-details span{
	color:#48aceb;
	display:inline-block;
	min-width:66px;
}

.contact-details a{
	color:#ffffff;
	text-decoration:none;
}


.footer{
	clear:both;
	background:#000000;
	height:auto;
	width:100%;
	color:#ffffff;
	padding:60px 0 0px 0;

}
.footer .hrt-form-wrapper{
	background:#000000;
	color:#ffffff;
	border-top:2px solid #ee1c25;
	padding:50px 0 50px 0;
	font-size:14px;
	position:relative;
	background:url("./images/hrt-logo.png") right 40px no-repeat;
}
.webadd{
	position:absolute;
	left:50%;
	top:73px;
	font-family: 'gibsonbolditalic';
	 font-size:18px;
	 color:#ee1c25;
	 margin-left:-93px;
	 text-transform:uppercase;
	 margin-bottom:0px;
	 text-decoration:none;
}

@media screen and (max-width: 800px) {
	.showlabel .gfield_label{
		width:100%;
	}
	.showlabel .ginput_container{
		width:100%;
	}
	.content-container{
		padding:0 20px;
	}

	li{
		width:100%;
	}
	li#field_11_9, li#field_11_13, li#field_11_15,li#field_11_25, li#field_11_28, li#field_11_19, li#field_11_20, li#field_11_21{
		display:inline-block;
		width: 100%;
	}
	.footer .hrt-form-wrapper{
		padding:50px 20px 50px 20px;
		background-position:90% 40px;
	}
	#field_11_19, #field_11_20{

		margin:0 -20px;
	}
	#field_11_21{
		margin:0 -20px;
	}
	#field_11_17{
		width:100%;
	}
	#field_11_17 input{
		width:25%;
	}
	#field_11_18 input{
		width:25%;
	}
	#field_11_18{
		width:100%;
	}
}

@media screen and (max-width: 650px) {
	.webadd {
		position: absolute;
		left: 0;
		top: 108px;
		margin-left:20px;
	}
	#field_11_30 .gfield_label, #field_11_31 .gfield_label, .payment_details_method .gfield_label, .payment_details_dd .gfield_label {
		width:100%;
		margin-bottom:10px;
	}

  .table_header, .row_label_first {
    display: none !important;
  }

  .gf_fifth, .gf_sixth, .gform_wrapper .top_label li.gfield.gf_left_third, .gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
    width: 100% !important;
  }

  .gform_wrapper .top_label li.gfield.gf_left_third {
    font-weight: bold;
  }

  .gf_fifth .gfield_label, .gf_sixth .gfield_label {
    display: block !important;
    font-weight: bold;
    margin-bottom: 5px;
  }

  li#field_11_9, li#field_11_13, li#field_11_15, li#field_11_25, li#field_11_28, li#field_11_19, li#field_11_20, li#field_11_21, li#field_14_9, li#field_14_28, li#field_13_9, li#field_13_13 {
    width: 100% !important;
  }

  .rides_total {
    text-align: left !important;
  }

}
@media screen and (max-width: 460px)
{
	h1{
		font-size: 35px;
		line-height: 35px;
	}
	li{
		width:100%!important;
	}
	input{
		-webkit-appearance: none;
	}
	.send-to-friend-wrapper {
		padding:0 20px 20px 20px;
	}
	input[type="submit"] {
		width: 100%!important;
		max-width:100%;
	}
	#field_11_18 input{
		margin-right:0;
	}

	#field_11_18 .gfield_description{
		display:none;
	}
	#field_11_18 .ginput_container{
		position:relative;
	}

	#field_11_18 .ginput_container{
		width: 85%;
	}
	#field_11_18 .ginput_container:after {
		position: absolute;
		right: -52px;
		content: "ea AU";
		top: 42px;
	}
	 #field_11_19 .ginput_container, #field_11_20 .ginput_container, #field_11_21 .ginput_container {
		width: 80%;
	}

    .gfield_label {
        width: 100%;
        float: none;
    }
	#field_11_29, #field_11_30, #field_11_31, .payment_details_top, .payment_details_dd {
		padding:0;
		border:none;
	}
	#field_11_29 .gsection_description, .payment_details_top .gsection_description {
		margin-left:0;
	}
	.gfield_label {

		margin-bottom: 10px!important;
	}
    input, textarea {
        width: 100%!important;
        display: block;
        float: none;
    }

	.validation_message {
		float: left;
	}

	.footer .hrt-form-wrapper {
		padding: 50px 0px 50px 20px;
		background-position: right 40px;
		width:calc(100% - 20px);
	}
}


.gform_wrapper .top_label li.gfield.gf_left_third+.gform_footer, .gform_wrapper .top_label li.gfield.gf_left_third+li.gfield, .gform_wrapper .top_label li.gfield.gf_middle_third+.gform_footer, .gform_wrapper .top_label li.gfield.gf_middle_third+li.gfield, .gform_wrapper .top_label li.gfield.gf_right_third+.gform_footer, .gform_wrapper .top_label li.gfield.gf_right_third+li.gfield {
    clear: both;
}

.gform_wrapper .top_label li.gfield.gf_left_third {
    margin: 0 0 .5em;
    clear: left!important;
}
.gform_wrapper .top_label li.gfield.gf_left_third, .gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
    width: 31.9%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
}

.gform_wrapper .top_label li.gfield.gf_middle_third {
    clear: none!important;
}
.gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
    margin-bottom: .5em;
    /*padding-left: 1.3%!important;*/
}

.gform_wrapper .top_label li.gfield.gf_right_third {
    clear: right!important;
}

.gform_wrapper .top_label li.gfield.gf_middle_third, .gform_wrapper .top_label li.gfield.gf_right_third {
    margin-bottom: .5em;
    /*padding-left: 1.3%!important;*/
}

.gform_wrapper .table_header {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 5px !important;
  margin-bottom: 10px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gf_list_5col{
	 width: 18.4%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 0 !important;
    padding: 5px;
}


.rides_total {
    font-family: 'gibsonbolditalic';
    font-size: 18px;
    color: #ee1c25;
    text-transform: uppercase;
    margin-bottom: 0px;
    text-align: right;
}

.gform_wrapper .top_label li.gfield.gf_fifth {
    width: 18.3%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
}

.gform_wrapper .top_label li.gfield.gf_sixth {
    width: 15%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 5px;
}

.show_label {
  width: 100% !important;
  margin-top: 15px;
}

.show_label .gfield_label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.show_label .gfield_description {
  margin-top: 54px;
}

.disclaimer {
  width: 100%;
  margin-top: 10px;
}

.full_width {
    width: 100% !important;
}

.gfield_error, .validation_error {
    font-weight: bold;
    color: #fff;
    background-color: red;
}

.validation_error {
  padding: 10px;
}

.gfield_error .gfield_checkbox {
  padding: 10px;
}
