

.send-to-friend-wrapper {
	background-color: white;
	padding: 0 20px 20px 20px;
	border-radius: 15px;
}

html, body {
    margin: 0;
}

body, input, h1, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 16px;
}

hr {
	background-color: #474747;
	border: none;
	height: 2px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

textarea {
	height: 100px;
	resize: none;
}


input, textarea {
	width: 100%;
	-webkit-display: none;
	border: 1px solid #474747;
	padding: 10px;
	font-size: 14px;
}

input[type="submit"] {
    margin-top: 20px;
    width: 70%;
    text-transform: uppercase;
    background-color: black;
    color: white;
    float: none;
    border: none;
    -webkit-appearance: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="hidden"] {
	display: none;
}

input, textarea {
	width: 70%;
	float: left;
}

.gfield_label {
	line-height: 39px;
    min-width: 100px;
    vertical-align: middle;
    width: 30%;
    float: left;
}

.gfield_label:after {
    content: ":";
}

.gform_footer {
	width: 100%;
	margin: 0 auto;
	text-align: right;
	display: block;
}

.validation_error {
    /*display: none;*/
	font-size: 14px;
    padding: 5px 0 10px 0;
/*    color: red;*/
/*    float: right;*/
}

.validation_message {
	font-size: 14px;
    padding: 5px 0 10px 0;
    color: red;
    float: right;
    display: none;
}

.gfield_required, .gform_hidden {
	display: none;
}


.gform_confirmation_message {
	padding: 10px 0;
}


@media screen and (max-width: 460px) {
	input[type="submit"] {
		width: 100%;
	}

    .gfield_label {
        width: 100%;
        float: none;
    }

    input, textarea {
        width: 100%;
        display: block;
        float: none;
    }

	.validation_message {
		float: left;
	}
}