

.send-to-friend-wrapper {
	background:#40a535;
	padding: 0 0px 20px 0px;
	border-radius: 15px;
}



html, body {
    margin: 0;
}

body, input, h1, textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#ffffff;
}


h1 {
	font-size: 16px;
	margin-top:0;
}

hr {
	background-color: #ffffff;
	border: none;
	height: 2px;
	margin-bottom: 20px;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-block;
	width: 100%;
	padding-bottom: 10px;
}

textarea {
	height: 60px;
	resize: none;
}

.ginput_container{
	width: 75%;
	float:left;
	
}

input, textarea {
	width: 100%;
	-webkit-display: none;
	border: 1px solid #474747;
	padding: 3px;
	font-size: 14px;
	color: #000000;
}


input[type="submit"] {
    margin-top: 0px;
    width: 75%;
    text-transform: uppercase;
    background-color: #0c7f40;
    color: white;
    float: none;
    border: none;
    -webkit-appearance: none;
}

input[type="checkbox"] {
    margin-top: 0px;
	margin-left:0;
    width: 20px;
    text-transform: uppercase;
    
    color: #000000;
    float: none;
    border: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="hidden"] {
	display: none;
}

input, textarea {
	width: 100%;
	float: left;
}
.gfield_checkbox{
	margin-top:40px;
}

.gfield_label {
	line-height: 20px;
    vertical-align: middle;
    width: 25%;
    float: left;
}


.gfield_label:after {
    content: ":";
}

.gform_footer {
	width: 100%;
	margin: 0 auto;
	text-align: right;
	display: block;
}

.validation_error {
    /*display: none;*/
	font-size: 14px;
    padding: 5px 0 10px 0;
/*    color: red;*/
/*    float: right;*/
}

.validation_message {
	font-size: 14px;
    padding: 5px 0 10px 0;
    color: red;
    float: right;
    display: none;
}

.gfield_required, .gform_hidden {
	display: none;
}


.gform_confirmation_message {
	padding: 10px 0;
}


@media only screen and (max-width: 290px) {
	input[type="submit"] {
		width: 100%;
	}
	
	.ginput_container{
		width: 100%;
	}

    .gfield_label {
        width: 100%;
        float: none;
    }

    input, textarea {
        width: 100%;
        display: block;
        float: none;
    }

	.validation_message {
		float: left;
	}
	input[type="checkbox"]{
		margin-left:0;
		display:inline-block;
	}
	#field_4_11 .gfield_description{
		display:none;
	}
}

#field_4_11{
	
	
	position:relative;
}
#field_4_11 .gfield_description{
	font-size: 11px;
    left: 23%;
    position: absolute;
    top: 5px;
	
	
}